/*-----------DARK STYLE -----------*/
/* By: Jonathan Love               */
/* Student ID: 000655580           */
/* Description:                    */
/* I have broken the styles for    */
/* this website into styles for    */
/* Global, New, Paul amd Porkodi   */
/* so that each can be found easily*/
/*---------------------------------*/

/* Global Styles */ 
html {
    background-color:#111;
    font-family: Helvetica, sans-serif;
}

/* sets the basic size and margin elements for the site */ 
.body { 
    margin: 0 auto;
    width: 70%;
    clear:both;
    background-color: black;
    color: white;
    
}

/* main container that displays a border around all elements */ 
.main {
    background-color: #111;
    height: 1200px;
    border: solid 1px #333;
}

/* defines the space that holds the banner */ 
.mainheader {
    height:180px;
    clear:both;
    background-color: black;
    background-image: url('../img/bg.png');
}

.menu {
    width:883px;
    height: 45px;
    background-color: #333;
    font-weight:bold;
    font-size:18px;
}

.circle {
    width:300px;
    height:300px;
    border-radius:50% 0;
    border: 5px solid #FB0;
    float:left;
    margin: 20px 60px;
    overflow:hidden;
}

.caption {
    margin: -15px 60px 10px 60px;
    width:300px;
    float:left;
    text-align:center;
    font-weight:bold;
    
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    clear:both;
}

li {
    float: left;
    display:inline;
}

a, a:link, a:visited {
    text-decoration:none;
    display:inline-block;
    color:#fff;
    height:21px;
    padding:12px;
}

a:hover, a:active, .active a:link, .active a:visited  {
    display:inline-block;
    color:#fff;
    background-color: orange;
}

.active {
    background-color:#ff6a00;
}

#separator {
    float:left;
    height:45px;
    width: 604px;
    background-color:#333;
    text-align:right;
}

.login {
    margin: 40px 0px 40px 40px;
    width: 300px;
    float:left;
}

.login h3 {
    margin-left:-5px;
}

.login .label {
    margin: 30px 5px;
}

.login .textbox {
    margin: 30px 5px;
}

/* I love H3 */ 
h3 {
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 40px;
}

/* paragraph tags set as floats to flow inline with other elements */ 
p {
    margin:20px;
    width: 349px;
    font-size: 14px;
    font-weight: bold;
    float:left;
}

/* serves two purposes, a line break and also stops floats from being inline with anything above */ 
.linebreak {
    clear:both;
    height:2px;
    width:100%;
    background-color: #222;
    margin: 10px 0;
}

/* default button styling */ 
.btn {
    background-color: #06F;
    margin: 10px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* serves two purposes, a line break and also stops floats from being inline with anything above */ 

.DetailsList {
    height: 700px;
    border-radius: 5px;
    border-color: #333;
    margin: 60px 10px 10px 10px;
    background-color: #222;
    width: 300px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    float:left;
}

.EditRowStyle {
    padding: 6px;
    background-color: #444;
    
}

.HeaderStyle {
     background-color: #ff6a00;
     font-weight: bolder;
     text-align: center;
     font-size:16px;
     color: white;
}

.FooterStyle {
     background-color: #333;
     font-weight: bold;
     color:red;
     text-align: right;
}

.PagerStyle {

}

.RowStyle {
     background-color: #333; 
}

.SelectedRowStyle {
    font-weight: bold;
}



/* Styles For New's Page */ 
.new {
    color: orange;
}

.container {
    height: 400px;
    float:left;
}

.btnBack {
    width: 250px;
}

#GridViewProduct {
    border-radius: 5px;
    border: solid 1px #333;
    margin: 10px;
    background-color: #222;
    width: 800px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
}



/* Styles For Paul's Page */ 

.paul {
    color: #09F;
    vertical-align: top;
}

.paul h3 {
    color:#fff;
}

.paul .errors {
    margin-top:40px;
    width:300px;
    height:300px;
    float:left;
    background-image:url('..img/arr4.jpg');

}

.lblAlert {
    color: red;
    font-size:20px;
    margin-left:20px;
    font-weight:bold;
}

.table {
    border-radius: 5px;
    border: solid 1px #333;
    margin: 10px;
    background-color: #222;
    width: 400px;
    font-size: 16px;
    font-weight: bold;
    float:left;

}

.col1 {
    width: 100px;
    padding:2px;
}

.col2 {
    width: 100px;
    padding:2px 5px;
}

.row1 {
    background-color: #222;
    height:45px;
}

.row2 {
    background-color: #444;
    height:45px;
}



/* Styles For Porkodi's Page */ 
.porkodi {
    color: #FC0; /* a lovely shade of orange */
}

.DropDownList {
    border-radius: 5px;
    border-color: white;
    margin: 10px;
    padding: 2px;
    background-color: #06F;
    color: white;
    width: 100px;
    height: 25px;
    font-size: 16px;
    clear:both;
}

#CPH4 {
    text-align: right;
}