<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Template.master.cs" Inherits="Template" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="Style1.css" rel="stylesheet" />
    <title></title>
</head>
<body class="body">
    <form id="form1" runat="server">
    <div class="container">
        <asp:ContentPlaceHolder id="CPH1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
    
</html>
