html {
    background-color:#111;
}

.body {
    margin: 0 auto;
    width: 70%;
    clear:both;
    background-color: black;
    color: white;
}

.new {
    color: #FC0;
}

h3 {
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 40px;
}

p {
    margin:20px;
    width: 349px;
    font-size: 14px;
    font-weight: bold;
    float:left;
}

.paul {
    color: #09F;
    vertical-align: top;
}

.table {
    border-radius: 5px;
    border-color: #333;
    margin: 10px;
    background-color: #222;
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    float:left;

}

.col1 {
    width: 225px;
    padding:2px;
}

.col2 {
    width: 75px;
    padding:2px;
}

.row1 {
    background-color: #222;
}

.row2 {
    background-color: #444;
}

.porkodi {
    color: chartreuse;
}

.container {
    
}

#CPH4 {
    text-align:right;
}

.DropDownList {
    border-radius: 5px;
    border-color: white;
    margin: 10px;
    padding: 2px;
    background-color: #06F;
    color: white;
    width: 100px;
    height: 25px;
    font-size: 16px;
    clear:both;
}

.btn {
    background-color: #06F;
    margin: 10px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.btnBack {
    width: 250px;
}

#lblAlert .lblAlert {
    color: red;
}

.DetailsList {
    border-radius: 5px;
    border-color: #333;
    margin: 10px;
    background-color: #222;
    width: 300px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    float:left;
}

.EditRowStyle {
    padding: 6px;
    background-color: #444;
    
}

.linebreak {
    clear:both;
    height:2px;
    width:100%;
    background-color: #222;
    margin: 10px 0;
}

.HeaderStyle {
     background-color: #111;
     font-weight: bolder;
     text-align: center;
     font-size:16px;
     color: white;
}

.FooterStyle {
     background-color: #333;
     font-weight: bold;
}

.PagerStyle {

}

.RowStyle {
     background-color: #333; 
}

.SelectedRowStyle {
    font-weight: bold;
}

#DetailsView {
}

#GridViewProduct {
    border-radius: 5px;
    border-color: #333;
    margin: 10px;
    background-color: #222;
    width: 800px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
}